.mainPage {
  .header {
    .title {
      display: block;
      font-size: 24pt;
      font-weight: bold;
      text-align: center;
    }

    .subtitle {
      display: block;
      font-size: 18pt;
      font-weight: bold;
      text-align: center;
    }
  }
  .twoChartColumns {
    display: flex;
    padding: 0px 20px 0px 20px;

    .chartColumn {
      align-self: flex-start;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }
  }

  .donughtChart {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;

    .chartHeader {
      flex: 1;
      text-align: center;
      font-size: 24pt;
      font-weight: bold;
    }

    .chart {
      flex:1
    }
  }
}