.mainPage {
  width: 50%;
  .header {
    .title {
      font-size: 24pt;
      font-weight: bold;
    }
  }

  .donught-chart {
    .title {
      font-size: 24pt;
      font-weight: bold;
    }
  }
}