$bootstrap-sass-asset-helper: true;
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

header > .container-lrg {
  margin: 90px auto 230px;
  position: relative;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/**
 * Header
 */
.header {
  overflow: hidden;
  background: #fff;
  color: #fff;
}

@media all and (min-width: $screen-sm) {
  .heading {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  .header .flex {
    flex-direction: column;
  }
  .header .heading {
    margin-top: 60px;
  }
  .header .paragraph {
    margin-top: 30px;
    text-align: center;
  }
  .header .bt {
    text-align: center;
  }
  .header .sidedevices {
    margin: 90px 0 0;
  }
}

/**
 * Navigation
 */

.navbar-opaque {
  opacity: 0.8;
}

.navbar {
  .navbar-collapse {
    a {
        font-weight: bold;
        font-size: 15pt;
      }
  }
  .navbar-header {

    .navbar-toggle {
      opacity: 1;
      border: 2px solid black;

      .icon-bar {
        background-color: black;
      }
    }
  }
}

.navbar-desktop {
  display: none;
}

@media all and (min-width: $screen-sm) {
  // Hide mobile navbar
  .navbar {
    display: none;
  }

  // Show desktop navbar
  .navbar-desktop {
    display: block;
    max-width: 1080px;
    margin: 10px auto;
    position: relative;

    ul {
      text-align: right;
      list-style: none;

      li {
        display: inline-block;
        margin: 0 10px;
      }
    }

    .nav-link {
      text-decoration: none;
      font-size: 18px;
      line-height: 30px;
      color: inherit;
    }

    .nav-link:not(:first-of-type) {
      margin-left: 20px;
    }
  }
}

/**
 * Logo
 */
.logo {
  position: absolute;
  top: -5px;
  left: 0px;
  width: 100px;
  color: inherit;
  content: url(../../assets/images/idance-small.gif);
}

@media all and (min-width: $screen-sm) {
  .logo {
    width: 200px;
  }
}

/**
 * Stripes
 */
.stripes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-7deg);
  transform-origin: 0;
  position: absolute;
  background: linear-gradient(150deg, #ffffff 5%, #4c4c4c 40%, #000000 90%);
  //background: linear-gradient(150deg, #000000 5%, #4c4c4c 40%, #ffffff 90%);

  -webkit-box-shadow: inset 0 -22px 20px -20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 -22px 20px -20px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -22px 20px -20px rgba(0, 0, 0, 0.25);
}