i.circle {
  border-radius: 9999px;
  padding: 20px;
}


i.light {
  background-color: #0a4fb7;
  color: #fff;
}


i.dark {
  background-color: #4caf50;
  color: #ffffff;
}


i.small-circle {
  border-radius: 9999px;
  padding: 4px;
  font-size: 14px;
}


i.blue {
  background-color: #0a4fb7;
}