@import "buttons/index";
@import "device/index";
@import "grid/index";
@import "content-block/index";
@import "icons/index";
@import "footer/index";
@import "editor/index";

//custom pages
@import "pages/features";
@import "pages/home";
@import "pages/getting-started";
@import "pages/examples";
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

* {
  font-family: 'karla', sans-serif;
}

footer,
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  overflow-x: hidden;
}

p {
  line-height: 1.5em;
}

.centerText {
  text-align: center;
}

.code.icon {
  margin-bottom: 30px;
  display: block;
}

.code.icon + h3 {
  margin-bottom: 30px;
}

/*text*/
.heading {
  font-weight: 100;
  font-size: 50px;
  line-height: 68px;
}

.heading + .paragraph {
  margin-top: 30px;
}

.mask-img {
  border-radius: 10px;
}

.paragraph {
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
}

.subheading + .paragraph {
  margin-top: 10px;
}

p.paragraph {
  color: rgba(0, 0, 0, .8);
}

body.contact-us {

  div.content {
    min-height: 70%;
  }

  h1 {
    margin-top: 50px;
  }

  h3 {
    margin-top: 20px;
  }

  h3 + p {
    margin-bottom: 20px;
  }

  footer {
    margin-top: 40px;
  }

}

.subheading {
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}

.emoji {
  display: inline-block;
  margin-right: 20px;

  span.glyphicon {
    font-size: 1.5em;
  }

}

@media (max-width: 900px) {
  .subheading {
    font-size: 26px;
    line-height: 35px;
  }
}

.content {
  margin-bottom: 30px;
  .container-lrg {
    width: 90%;
  }

  .sidedevices {
    text-align: center;
  }
}

body.alt {

  header > .container-lrg {
    margin: 90px auto 150px;
  }

  header, nav {
    color: #4c4c4c;
  }

  .logo {
    color: #0a4fb7;
  }

  #stripes {
    display: none;
  }

  .color-dark {
    padding-bottom: 400px;

    &:before {
      background-color: #10bffd;
    }
  }

  .color-dark + .content-block {
    background: #fff;
    margin-top: -210px;
  }
}