span.stripe {
    position: absolute;
    transform: skewY(-7deg);
    height: 150px;
    width: 33%;
}

.stripe-holder {
    position: relative;
    width: 100%;
    transform: skewY(-7deg);
}

.stripes-header > .stripe {
  height: 204px;
  transform: none;
}

.stripe.top {
  top: 0;
}

.stripe.right {
  right: 0;
}

.stripe.left {
  left: 0;
}

.stripe.bottom {
  bottom: 0;
}