<!DOCTYPE html>
<html lang="en">
<head>
    <!--<base href="/analytics-reports/" />-->
    <meta charset="utf-8">
</head>
<body>

<!-- Main React page container -->
<div id="root"></div>
<script src="app/bundle.js"></script>

<div style="width: 400px; height: 400px">
    <canvas id="myChart"></canvas>
</div>

</body>
</html>
